<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Pond of Frogs</title>
		<meta name="generator" content="Tu Duong" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="<%= styleSrc %>" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="shortcut icon" href="/images/favicon.ico">
	</head>
	<body>
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-toggle"></span>
          </button>
          <a class="navbar-brand" href="/">Pond of Frogs</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">
                <i class="glyphicon glyphicon-user"></i> Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

	  <div class="container">
	    <div class="row">
      	<div class="col-sm-3">
          <h3>Sidebar</h3>
          <hr>
          <ul class="nav nav-stacked">
            <li><a href="/" target="ext"><i class="glyphicon glyphicon-th-list"></i> Frogs listing</a></li>
            <li><a href="/frogs/add" target="ext"><i class="glyphicon glyphicon-plus"></i> Add New Frog</a></li>
          </ul>
          <hr>
        </div>
        <div class="col-sm-9">
          <div id="root"><%- html %></div>
        </div>
      </div>
	  </div>

	  <footer class="text-center"><img src="/images/frog.gif" width="100"/></footer>
    <script type="text/javascript" charset="utf-8">
      window.__REDUX_STATE__ = '<%= reduxState %>';
    </script>
    <% scriptSrcs.forEach(function(src){ %>
      <script src="<%= src %>"></script>
    <% }) %>
  </body>
</html>
